# Ignore Python cache
__pycache__/
*.pyc

# Ignore environment files
.env
*.env

# Ignore system files
.DS_Store
Thumbs.db

# Ignore project-specific folders
backend_demo/
node_modules/
chat_data/
rag_data/
codenotes_data/
